<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mychat - Realtime Node Socket.io Chat App</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/socket.io/socket.io.js" defer></script>

    <script defer src="./js/client.js" defer></script>
</head>
<body>
    <nav class="nav">
        <img src="/4375157_logo_wechat_icon.png" alt="logo" class="logo">
        <h1 class="heading">My chat Room</h3>
    </nav>
    <div class="container">

        <div class="box">
        <div class="chatbox" id = "chatbox">
            <!-- <div class="message left">p1: hello</div>
            <div class="message right">you: hello</div> -->
        </div>
        <form action="#" id="sendcontainer">
            <input type="textarea" placeholder="Message" class="msgbox" id ="msginput">
            <button type="submit">Send</button>
        </form>
    </div>
    
</body>
</html>
    